In [35]:
import pandas as pd
df = pd.read_csv(r"C:\Users\husey\Downloads\survey_results_public.csv")
schema = pd.read_csv(r"C:\Users\husey\Downloads\survey_results_schema.csv")

In [40]:
#1
print(f"the_number_of_survey_respondents: {df.shape[0]}")

the_number_of_survey_respondents: 65437

In [4]:
#2
questions = set(schema.qname.unique()) & set(df.columns)
df.dropna(subset=questions).shape[0]

6306

In [42]:
#3
print(df["WorkExp"].median())
print(round(df["WorkExp"].mean(),1))

9.0
11.5

In [6]:
#4
remote_workers = (df["RemoteWork"] =="Remote").sum()
print(f"remote_workers: {remote_workers}")

remote_workers: 20831

In [46]:
#5
python_users = df['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False)
python_count = python_users.sum()
total_count = len(df)
python_percentage = (python_count / total_count) * 100
print(f"{python_percentage:.2f} percent of participants use Python")

47.06 percent of participants use Python

In [8]:
#6
df['learned_with_online_courses'] = df.LearnCode.apply(lambda x: 1 if 'online courses' in str(x).lower() else 0)
df.learned_with_online_courses.sum()

30271

In [48]:
#7
python_users = df[df['LanguageHaveWorkedWith'].str.contains('python', case=False, na=False)]
country_grouped = python_users.groupby("Country")
average = country_grouped["ConvertedCompYearly"].mean()
median = country_grouped["ConvertedCompYearly"].median()
print(f"average_annual_compensation_by_country: \n{average}"'\n')
print(f"median_annual_compensation_by_country: \n{median}")

average_annual_compensation_by_country:
Country
Afghanistan                               4543.000000
Albania                                  56295.000000
Algeria                                   9053.285714
Andorra                                 193331.000000
Angola                                       6.000000
                                            ...
Venezuela, Bolivarian Republic of...     21500.000000
Viet Nam                                 14014.562500
Yemen                                    10297.333333
Zambia                                   28123.666667
Zimbabwe                                 37500.000000
Name: ConvertedCompYearly, Length: 173, dtype: float64

median_annual_compensation_by_country:
Country
Afghanistan                               4768.5
Albania                                  56295.0
Algeria                                   6230.0
Andorra                                 193331.0
Angola                                       6.0
                                          ...
Venezuela, Bolivarian Republic of...      7100.0
Viet Nam                                 10180.0
Yemen                                     5333.0
Zambia                                   22803.0
Zimbabwe                                 18000.0
Name: ConvertedCompYearly, Length: 173, dtype: float64

In [10]:
#8
top_5_highest_compensation = df.nlargest(5, 'ConvertedCompYearly')
top_5_education_levels = top_5_highest_compensation[['EdLevel','ConvertedCompYearly']]
print(top_5_education_levels)

                                              EdLevel  ConvertedCompYearly
15837    Bachelor’s degree (B.A., B.S., B.Eng., etc.)           16256603.0
12723  Professional degree (JD, MD, Ph.D, Ed.D, etc.)           13818022.0
28379  Professional degree (JD, MD, Ph.D, Ed.D, etc.)            9000000.0
17593    Bachelor’s degree (B.A., B.S., B.Eng., etc.)            6340564.0
17672  Professional degree (JD, MD, Ph.D, Ed.D, etc.)            4936778.0

In [11]:
#Bonus1
python_users = df[df['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False)]
python_users_by_age= python_users.groupby('Age').size()
total_users_by_age = pd.DataFrame(df).groupby('Age').size()
percentage_by_age = (python_users_by_age / total_users_by_age) * 100
print(percentage_by_age)

Age
18-24 years old       55.922826
25-34 years old       45.773912
35-44 years old       41.520546
45-54 years old       41.910706
55-64 years old       40.427184
65 years or older     37.564767
Prefer not to say     45.341615
Under 18 years old    64.875389
dtype: float64

In [52]:
#Bonus2
df[(df.ConvertedCompYearly > df.ConvertedCompYearly.quantile(0.75)) & (df.RemoteWork == 'Remote')].Industry.value_counts().reset_index()

                                      Industry  count
0                         Software Development    768
1                                       Other:    239
2                                   Healthcare    156
3                                      Fintech    156
4   Internet, Telecomm or Information Services    145
5                 Retail and Consumer Services    106
6                 Media & Advertising Services    103
7                   Banking/Financial Services     69
8                                   Government     69
9         Computer Systems Design and Services     69
10             Transportation, or Supply Chain     67
11                                   Insurance     50
12                               Manufacturing     48
13                            Higher Education     42
14                                      Energy     36